*{
    margin: 0;
    padding: 0;
}

.main-heading{
    margin-top: 2rem;
    margin-left: 10rem;
    
}
.heading1{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
}

.first-card{
   max-width: 60%;
   margin: auto;
}
.box-shadow{
    box-shadow: 0 0 3px 3px grey;
    max-width: 450px;
}
.jeans{
    width: 450px;  
}
.brand{
    padding: 0.3rem 0.5rem;
}
.jeans-type{
    color: gray;
    padding: 0.3rem 0.5rem;
}
#off{
    text-decoration: line-through;
    font-size: 16px;
    font-weight: bolder;
    padding: 0.3rem 0.5rem;
}
#price{
    font-size: 16px;
    font-weight: bolder;
    padding: 0.3rem 0.5rem;
}
.slogan{
    color: brown;
    padding: 0.3rem 0.5rem;
}
.btn-vertical{
    border-radius: 6px;
    background-color: #3b04fb;
    color: #fffcfc;
    width: 409px;
    padding: 7px;
    margin: 6px 15px;
    cursor: pointer;
}
.btn-vertical:hover{
    background-color: rgb(120, 120, 146);
    color:black ;
}
.btn-badge{
    border-radius: 6px;
    background-color: #847d9e;
    color: #fffcfc;
    width: 200px;
    padding: 7px;
    margin: 6px 120px;
    cursor: pointer;
}
.btn-badge:hover{
    background-color: rgb(63, 63, 84);
    color:rgb(255, 245, 245) ;
}
.icon-image{
    margin-top: 4rem; 
}
div.badge-image{
    position: relative;
    margin-top: 10rem;
}
.sold-badge {
    position: absolute;
    bottom: 683px;
    left: 348px;
    background-color: red;
    padding: 10px;
    color: white;
    font-weight: bold;
}