* {
    margin: 0rem;
    padding: 0rem;
}

h1.badge {
    margin: 1.5rem;
}

p.lines {
    margin: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.primary-badge {
    background-color: #3b82f6;
    margin-left: 3.5rem;
    padding: 0.6rem;
    color: white;
    cursor: pointer;
}

.secondary-badge {
    border-color: #3b82f6;
    margin-left: 3.5rem;
    padding: 0.6rem;
    color: #3b82f6;
    border: 0.2rem solid;
}

.primary-pill {
    background-color: #3b82f6;
    margin-left: 3.5rem;
    padding: 0.6rem;
    color: white;
    border-radius: 0.6rem;
}

.secondary-pill {
    border-color: #3b82f6;
    margin-left: 3.5rem;
    padding: 0.6rem;
    color: #3b82f6;
    border: 0.2rem solid;
    border-radius: 0.6rem;

}

div {
    margin-top: 3rem;
}

.badge-heading {
    margin: 1.5rem;
    margin-top: 3.5rem;
}

.badge-icons {
    margin: 4rem;
}
.badge-icons a{
    cursor: pointer;
}

.notification {
    position: relative;
    margin-left: 5rem;
}

.notification-badge {
    position: absolute;
    padding: 3px;
    right: -7px;
    top: -36px;
    font-size: 17px;
    font-weight: bold;
    background-color: #2870e3;
    border-radius: 67px;
}
.badge-image {
    height:43px;
    width: 48px;
    border-radius: 2rem;
    }